<!DOCTYPE html>
<html>
<head>
  <title>User Authentication</title>
</head>
<body>
  <% if session[:user_id] %>
    <p>Welcome, <%= @current_user.username %>!</p>
    <%= link_to 'Logout', logout_path, method: :delete %>
  <% else %>
    <%= form_with(url: login_path, method: :post) do |form| %>
      <div>
        <%= form.label :username %>
        <%= form.text_field :username %>
      </div>
      <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>
      <div>
        <%= form.submit 'Login' %>
      </div>
    <% end %>
    <p><%= link_to 'Register', register_path %></p>
  <% end %>

  <% if notice %>
    <p><%= notice %></p>
  <% end %>

  <% if alert %>
    <p><%= alert %></p>
  <% end %>
</body>
</html>
