<!-- app/views/carts/show.html.erb -->

<h1>Cart for <%= @cart.user.email %></h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.book.title %></td>
        <td><%= cart_item.book.author %></td>
        <td><%= cart_item.book.publisher %></td>
        <td><%= number_to_currency(cart_item.book.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>Total Price: <%= number_to_currency(@cart.total_price) %></p>
<%= link_to 'Back to list', carts_path %>
