<%= form_with(model: cart_item, local: true) do |form| %>
  <% if cart_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart_item.errors.count, "error") %> prohibited this cart_item from being saved:</h2>

      <ul>
        <% cart_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cart_id %>
    <%= form.text_field :cart_id %>
  </div>

  <div>
    <%= form.label :book_id %>
    <%= form.text_field :book_id %>
  </div>

  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :subtotal %>
    <%= form.text_field :subtotal %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
